@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html, body {
    height: 100%;
}

body {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background-color: hsl(226, 43%, 10%);
    margin: 0;
}

.container {
    position: absolute; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: 15%;
    height: 70%;
} 

.card, .main-card {
    background-color: hsl(235, 46%, 20%);
    margin: 2px;
    border-radius: 20px;
}

.main-card {
    padding: 20px;
    height: 378px;
}

.card {
    padding: 30px 8px;
    position: absolute;
    margin-top: 30px;
    height: 110px;
    width: 200px;
}

.big-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-column-gap: 20px;
}

.small-container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 200px 200px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.background-work {
    background-color: hsl(15, 100%, 70%);
}

.background-play {
    background-color: hsl(195, 74%, 62%);
}

.background-study {
    background-color: hsl(348, 100%, 68%);
}

.background-exercise {
    background-color: hsl(145, 58%, 55%);
}

.background-social {
    background-color: hsl(264, 64%, 52%);
}

.background-self-care {
    background-color: hsl(43, 84%, 65%);
}

.background {
    z-index: -1;
    border-radius: 20px;
    position: relative;
    width: 220px;
}

.image {
    height: 50px;
    width: 50px;
    position: relative; 
    left: 190px;
}

.wrapper {
    position: relative;
}